<h1>Чатик💌</h1> #НАЗВАНИЕ ЧАТА
<a class="navbar-brand" href='/' >Вернуться на форум</a> #ссылка обратно на форум
<pre id="messages" style="height: 400px; overflow: scroll"></pre>
<input type="text" id="messageBox" placeholder="Напиши своему котёнку" style="display: block; width: 100%; margin-bottom: 10px; padding: 10px;" />
<button id="send" title="Send Message!" style="width: 100%; height: 30px;">Отправить котопосылку</button>

<script>

  (function() {
    const sendBtn = document.querySelector('#send');
    const messages = document.querySelector('#messages');
    const messageBox = document.querySelector('#messageBox');
    var userName = "{{current_user.name}}"; #имя пользователя 
    let ws;


    #функция которая отображает сообщения
    function showMessage(message, ownMessage = false) {
      console.log(message, ownMessage)
      const now = new Date();
      const timestamp = now.toLocaleTimeString();
      const messageSource = message.sender
      messages.textContent += `\n[${timestamp}] ${messageSource}: ${message.message}`;
      messages.scrollTop = messages.scrollHeight;
      if (ownMessage) messageBox.value = '';
    }


    function init() {
      if (ws) {
        ws.onerror = ws.onopen = ws.onclose = null;
        ws.close();
      }
      #порт чата
      ws = new WebSocket('ws://localhost:6969');
      ws.onopen = () => console.log('Connection opened!');
      ws.onmessage = ({ data }) => {

        const messageData = JSON.parse(data);
        console.log(messageData)
        showMessage(messageData, messageData.sender === userName);
      };
      ws.onclose = () => ws = null;
    }
    #при нажатии на эту кнопку пользователь отправляет сообщение, но если сервер отключен то он выдает ошибку
    sendBtn.onclick = function() {
      if (!ws) {
        showMessage("No WebSocket connection :(", true);
        return;
      }
      #отображание имя пользователя, сообщение и время отправки 
      const messageToSend = {
        sender: userName,
        message: messageBox.value,
        timestamp: new Date().toISOString()
      };
      ws.send(JSON.stringify(messageToSend));
      showMessage(messageToSend, true);
    }

    init();
  })();
</script>
